* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {

  content: "";
  display: block;
  clear: both;

}

/* Main elements */

html {

  font-family: 'Roboto', sans-serif;

  background-color: aliceblue;
}

h2 {

  text-align: center;

  background-color: #42474C;
  color: white;

  /* Paddings -> it will be displayed properlny on mobile devices */

  padding: 10px 30px;

  font-weight: normal;
}

.wrapper {

  /* max-width will matter on bigger resolutions */

  max-width: 1280px;
  margin: 0 auto;
}

/* Header -> The main elment -> minimalistic and informative */

header {}

/* Header -> contact */

header .contact {

  padding: 20px 30px;

  text-align: center;

  background-color: #42474C;

  color: white;
}

header .contact p:nth-child(1) {

  padding-bottom: 10px;

  font-size: 16px;
}

header .contact p:nth-child(2) i {

  padding: 0 5px;

  font-size: 40px;
}

/* Header -> nav */

header nav {

  text-align: center;

  /* position: relative; */

}

header nav ul {

  list-style: none;

}

header nav ul li {

  /* float: left; */
}

header nav ul li button {

  /* A menu elemement would be a square */

  /* height: 130px;
  width: 130px; */

  /* display: block; */

  width: 100%;
  padding: 30px 30px;
  border: none;

  font-size: 20px;
}

/* Every element has a different color */

header nav ul li:nth-child(1) button {

  background-color: #3490FF;
}

header nav ul li:nth-child(2) button {

  background-color: #1A81FD;
}

header nav ul li:nth-child(3) button {

  background-color: #117AF8;
}

/* Two main elements in the center of the header */

header .wrapper {

  /* On mobile devices the element should take all the space (width: 100%) */

  /* width: 80%; */

  /* margin-bottom: 50px; */

  border-radius: 2%;
}

header .about,
header .img {

  /* float: left; */

  /* width: 50%; */

  border-radius: 2%;

  /* The height of this element is to reconsider */

  /* height: 45vh; */

  margin: 20px;
}

header .about {

  /* To create space between elements */

  /* border-right: 5px solid white; */

  background-color: rgba(66, 71, 76, 0.21);

  padding-bottom: 20px;
}

header .about p {

  padding: 10px;
}

header .about h1 {

  font-size: 24px;

  padding: 10px;
}

header .img {

  /* border-left: 5px solid white; */

  background-color: rgba(66, 71, 76, 0.21);

  height: 45vh;
}

/* The last element of the header -> to navigate towards the bottom */

header .next {

  background-color: #42474C;
}

header .next p {

  line-height: 60px;

  font-size: 40px;

  text-align: center;

  color: white;
}

/* Skills section */

.skills {

  /* This is reallly nice color -> I think I will use it to the entire project */

  background-color: aliceblue;
}

.skills h2 {

  border-top: 5px solid white;
}

.skills .wrapper {

  /* This is a desing decision -> I want a skill element to cover all the space (width) */

  /* 
  padding: 20px 20px; */
}

.skills .skill {

  /* Skill element contains all the skills grouped together */

  /* float: left; */

  padding: 20px 30px 30px 30px;

  /* width: 33.33%; */
  /* height: 200px; */

  font-size: 16px;
}

/* I'm using the same theme as in the main navigation */

.skills .skill ul {

  list-style: none;
}

.skills .skill:nth-child(1) {

  background-color: #3490FF;
}

.skills .skill:nth-child(2) {

  background-color: #1A81FD;

}

.skills .skill:nth-child(3) {

  background-color: #117AF8;
}

.skill h3 {

  margin-bottom: 20px;
}

.skill i {

  width: 30px;
}

/* Portfolio section */

.portfolio {}

.portfolio .wrapper {

  /* Portfolio should be a bit smaller than other sections */
  /* But on mobile devices we want each project element to cover all the space */
  /* 
  width: 60%; */

  /* padding: 50px 20px 100px 20px; */
}

.portfolio .project {

  /* border-top: 20px solid #333; */

  /* Padding on the project -> thinking how it should look like on mobile phones */
  /* 
  padding: 20px; */
  /* border-bottom: 2px solid black; */

  padding-bottom: 20px;

}

/* Different colors of the projects -> the same convention */

.portfolio .project:nth-of-type(1) {

  background-color: rgba(52, 143, 255, 0.2);
}

.portfolio .project:nth-of-type(2) {

  background-color: rgba(52, 143, 255, 0.2);
}

/* The layout of a project element */

.portfolio .project .info,
.portfolio .project .about {

  /* float: left; */

  text-align: center;
}

.portfolio .project .info {

  /* width: 30%; */

  background-color: #42474c1d;
}

.portfolio .project .info p {

  padding: 10px 0;

  font-size: 20px;
  font-weight: bold;
}

.portfolio .project .about {

  /* border-top: 2px solid black; */

  /* width: 70%; */

  text-align: left;

  /* padding: 20px; */

  padding: 0 30px;
}

.portfolio .project .about h3 {

  padding: 15px 0;
}

.portfolio .project .about p {

  font-size: 14px;

  line-height: 180%;

  padding-bottom: 10px;
}

.portfolio .project .about button {

  background-color: transparent;
  border: 2px solid black;

  padding: 5px;
}

/* About me section -> simple and minimalistic */

.about .wrapper {

  /* width: 70%; */
  /* padding: 50px 20px 100px 20px; */

  padding: 30px;
}

.about p.description {

  font-size: 14px;
  line-height: 180%;
  text-align: justify;
}

/* Footer section */

footer {

  padding: 20px 30px;
  font-size: 16px;
  text-align: center;
  color: white;
  background-color: #42474C;
}

footer p:nth-child(1) {

  font-size: 14px;

  padding-bottom: 10px;

}

footer p:nth-child(2) {

  padding-bottom: 10px;

}

footer i {

  padding: 0 5px;
  font-size: 40px;
}