/* font-family: 'Roboto Condensed', sans-serif; */
/* font-family: 'Roboto', sans-serif; */

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {

  content: "";
  display: block;
  clear: both;
}

:root {

  --backgroundColor: #C7EEF5;
  --mainColor: #19506F;

  --smaller: 12px;
  --small: 16px;
  --medium: 20px;
  --big: 24px;
  --iconSize: 40px;
}

@media(min-width: 1024px) {

  :root {

    --backgroundColor: #C7EEF5;
    --mainColor: #19506F;

    --smaller: 16px;
    --small: 20px;
    --medium: 24px;
    --big: 30px;
    --iconSize: 50px;
  }
}

html {

  font-family: 'Roboto Condensed', sans-serif;

  background-color: var(--backgroundColor);
}

/* Common elements */

header {

  background-image: url("natural.png");

  background-size: cover;
  background-attachment: fixed;
}

h2 {

  /* h2 represents a beginning of each section */
  /* Padding -> it will be displayed well on mobile devices */

  padding: 10px 30px;

  font-size: var(--big);

  font-weight: normal;
  text-align: center;
  text-transform: uppercase;

  background-color: var(--mainColor);
  color: white;
}

.wrapper {

  /* max-width will matter on bigger resolutions */

  max-width: 1280px;
  margin: 0 auto;
}

/* Header -> contact */

header .contact {

  padding: 15px 30px;

  text-align: center;

  background-color: var(--mainColor);
  color: white;
}

header .contact p:nth-child(1) {

  margin-bottom: 10px;

  font-size: var(--small);
}

header .contact p:nth-child(2) i {

  margin: 0 5px;

  font-size: var(--iconSize);
}

@media(min-width: 1024px) {

  header .contact {

    /* Only on desktop I want this behaviour */

    height: 200px;
  }
}

/* Header -> nav */

header nav {

  text-align: center;
}

header nav ul {

  list-style: none;
}

header nav ul li button {

  width: 100%;
  padding: 20px 30px;
  border: none;

  font-size: var(--medium);

  text-transform: uppercase;

  font-weight: bold;
}

/* Every element has a different color */

header nav ul li:nth-child(1) button {

  background-color: #eca785;
}

header nav ul li:nth-child(2) button {

  background-color: #F07C41;
}

header nav ul li:nth-child(3) button {

  background-color: #DF622C;
}

@media(min-width: 1024px) {

  header nav ul {

    position: relative;

    left: 0;
    top: -75px;

    width: 600px;
    margin: 0 auto;
  }

  header nav ul li {

    float: left;
  }

  header nav ul li button {

    width: 200px;
    height: 150px;

    border: none;

  }
}


/* Two main elements in the center of the header */

header .about,
header .img {

  border-radius: 2%;
  margin: 30px;
}

header .about {

  background-color: #4096a750;
}

header .about p {

  padding: 10px;

  font-size: var(--small);
}

header .about h1 {

  padding: 10px;

  font-size: var(--medium);
}

header .img {

  height: 45vh;

  background-color: #4096a750;
}

@media(min-width: 1024px) {

  header .wrapper {

    width: 80%;
    padding-bottom: 50px;

    /* This element would be responsive on the first page */

    height: calc(100vh - (200px + 150px + 75px));
  }

  header .about,
  header .img {

    float: left;

    width: 47%;
    height: 100%;

    border-radius: 2%;

    margin: 0;
  }

  header .about {

    margin-right: 3%;
  }

  header .img {

    margin-left: 3%;
  }

}


/* The last element of the header -> to navigate towards the bottom */


header .next p {

  font-size: var(--iconSize);

  text-align: center;

  color: black;
}

@media(min-width: 1024px) {

  header .next p {

    line-height: 75px;
  }
}



/* Skills section */

.skills .skill {

  padding: 20px 30px 30px 30px;
}

.skill h3 {

  margin-bottom: 20px;

  font-size: var(--medium);
}

.skill i {

  /* To shift the text from the icon */

  width: 30px;
}

.skills .skill ul {

  list-style: none;
}

.skills .skill ul li {

  font-size: var(--small);
}

/* I'm using the same theme as in the main navigation */

.skills .skill:nth-child(1) {

  background-color: #eca785;
}

.skills .skill:nth-child(2) {

  background-color: #F07C41;

}

.skills .skill:nth-child(3) {

  background-color: #DF622C;
}


@media(orientation:landscape) {

  .skills .skill {

    padding-bottom: 40px;
  }

  .skills .skill h3 {

    text-align: center;
  }

  .skills .skill ul {

    width: 80%;

    margin: 0 auto;
  }

}


@media(min-width: 1024px) {

  .skills .wrapper {

    width: 80%;

    padding-top: 50px;
    padding-bottom: 100px;

  }

  .skills .skill {

    float: left;

    width: 33.33%;
    height: 200px;

    padding: 20px 30px 30px 30px;
  }

  .skills .skill ul {

    width: 100%;

  }

}


/* Portfolio section */

/* The layout of a project element */

.portfolio .project .info p {

  padding: 10px 0;

  font-size: var(--medium);
  font-weight: bold;

  text-align: center;

  background-color: #266783;
}

.portfolio .project .about {

  padding: 0 30px;

  padding-bottom: 20px;

  background-color: #55BDCA;
}

.portfolio .project .about h3 {

  padding: 15px 0;

  font-size: var(--medium);
}

.portfolio .project .about p {

  padding-bottom: 10px;

  line-height: 180%;

  font-size: var(--small);
}

.portfolio .project .about button {

  padding: 5px;
  border: 2px solid black;

  background-color: transparent;
}

@media(min-width: 1024px) {

  .portfolio .wrapper {

    width: 60%;

    padding-top: 50px;
    padding-bottom: 100px;
  }
}


/* About me section */

.cv {

  min-height: calc(100vh - 150px);
}

.cv .description {

  padding: 20px 30px;

  font-size: var(--small);
  line-height: 180%;
  text-align: justify;
}

@media(orientation:landscape) {

  .cv .description {

    padding-left: 60px;
    padding-right: 60px;

  }
}

@media(min-width: 1024px) {

  .cv {

    min-height: calc(100vh - 200px);
  }

  .cv .wrapper {

    width: 70%;

    padding-top: 50px;
    padding-bottom: 100px;

  }
}


/* Footer section */

footer {

  height: 150px;

  padding: 20px 30px;

  text-align: center;

  color: white;
  background-color: var(--mainColor);
}

footer p:nth-child(1) {

  margin-bottom: 10px;

  font-size: var(--smaller);
}

footer p:nth-child(2) {

  margin-bottom: 10px;

  font-size: var(--small);
}

footer p i {

  margin: 0 5px;
  font-size: var(--iconSize);
}

@media(min-width: 1024px) {

  footer {

    height: 200px;
  }

  footer p:nth-child(1) {

    margin-bottom: 15px;

  }

  footer p:nth-child(2) {

    margin-bottom: 15px;
  }
}